.hourly_timeline {
  max-width: 790px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.hourly_timeline .signal-area {
  border-right-width: 2px;
  border-color: white;
}

.hourly_timeline .signal-area:first-child {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}
.hourly_timeline .signal-area {
  height: 30px;
}
.flex-1 {
  flex: 1 1 0%;
}
.border-b {
  border-bottom-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.bg-green {
  background-color: #02f0c6;
}
.hourly_timeline .signal-area:last-child {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.hourly_timeline .signal-area:nth-child(4n + 2) .text-signal-area,
.hourly_timeline .signal-area:nth-child(4n + 3) .text-signal-area,
.hourly_timeline .signal-area:nth-child(4n + 4) .text-signal-area {
  display: none;
}

.hourly_timeline .signal-area:not(:last-child) .text-signal-area {
  left: -8px;
}
.hourly_timeline .signal-area .text-signal-area {
  top: 30px;
}
.absolute {
  position: relative;
}
.text-12 {
  font-size: 12px;
}
div {
  display: block;
}
*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid;
}
